aside {
  display: flex;
  overflow-y: scroll;
}

@media (min-width: 75rem) {
  aside {
    width: 27.5rem;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    left: 56.25rem;
    margin-top: -23.25rem;
    overflow: hidden;
    height: 25.875rem;
    top: 5rem;
    cursor: pointer;
  }
}
