@media (min-width: 1200px) {
 
  form {
    margin-top: 88px;
  }

  .dev img {
    margin-left: 136px;
  }

  .dev-name {
    margin-right: 1097px;
  }

  .suggestion {
    margin-top: 8px;
  }

  .dev-mobile {
    display: flex;
    margin-top: -184px;
    margin-left: 20px;
    margin-bottom: -178px;
  }

  .dev-mobile img {
    max-width: 100%;
    width: 42px;
    height: 42px;
    margin-bottom: 21px;
    margin-bottom: -81px;
  }

  .dev-name-mobile {
    margin-right: 240px;
    margin-top: 78px;
  }


  .title-posts {
    margin-left: 132px;
    margin-bottom: -40px;
  }

  .dev-post {
    margin-left: 130px;
    margin-bottom: 18px;
  }

  .dev-post img {
    margin-top: 79px;
  }

  span {
    font-size: 13px;
  }

  .desc-post {
    width: 534px;
    height: 72px;
    font-style:var(--font-style);
    font-weight:--font-weight-4;
    font-size: 20;
    line-height: 27px;
    margin-right: 759px;
    margin-left: 128px;
  }

  .desc-post2 {
    width: 31rem;
    height: 3.875rem;
    font-style:var(--font-style);
    font-weight:var(--font-weight-1);
    font-size: var(--font-size-1);
    line-height: 1.25rem;
    margin-right: 49.8125rem;
    margin-left: 8rem;
  }

  .like-post {
    display: flex;
    align-items: center;
    margin-bottom: 3.125rem;
  }

 
  .img-like {
    margin-right: 71.6875rem;
    left: 15.375rem;
  }



}
