@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



*{
    font-family: Inter;
    text-decoration: none;
    list-style-type: none
    
}

:root {

    /* BRAND COLORS */
    --brand-1-color:#4263EB;
    --brand-2-color:#364FC7;
    --grey0-color:#0A0C0D;
    --grey1-color:#212529;
    --grey2-color:#495057;
    --grey3-color:#868E96;
    --grey4-color:#DEE2E6;
    --grey5-color:#F8F9FA;
    --grey-opacity-1:rgba(33, 37, 41, 0.5);
    --modal-color-background: rgba(0, 0, 0, 0.5);
    --whiteFixed-color:#FFFFFF;
    --like-color:#D7443E;

    /* FONT FAMILY */
    --inter-font:'Inter';


    /* WIDTH */
    --width-1:2.625rem;
    --width-2:3.25rem;
    --width-3:4.3125rem;
    --width-4:5.125rem;
    --width-5:7.75rem;
    --width-6:7.875rem;
    --width-7:14.375rem;
    --width-8:16.8125rem;
    --width-9:20.625rem;
    --width-10:21.75rem;
    --width-11:23.625rem;
    --width-12:100%;
    --max0width-13:100%;


    /* HEIGTH */
    --heigth-1:0.625rem;
    --heigth-2:1rem;
    --heigth-3:1.0625rem;
    --heigth-4:1.25rem;
    --heigth-5:1.3125rem;
    --heigth-6:1.5rem;
    --heigth-7:1.6875rem;
    --heigth-8:2rem;
    --heigth-9:2.5rem;
    --heigth-10:2.625rem;
    --heigth-11:3.25rem;
    --heigth-12:4.75rem;
    --heigth-13:5.25rem;
    --heigth-14:5.625rem;
    --heigth-15:8.125rem;

    /* MARGIN-TOP */
    --margin-top-1:-5.9375rem;
    --margin-top-2:-3.125rem;
    --margin-top-3:0.625rem;
    --margin-top-4:1.1875rem;
    --margin-top-5:1.375rem;
    --margin-top-6:2.375rem;
    --margin-top-7:3.125rem;
    --margin-top-8:3.75rem;
    --margin-top-9:7.4375rem;
    --margin-top-10:8.9375rem;

    /* FONTS */
    --font-weight-1:400;
    --font-weight-2:500;
    --font-weight-3:600;
    --font-weight-4:700;


    --font-style:normal;


    --font-size-1:0.75rem;
    --font-size-2:0.8125rem;
    --font-size-3:0.875rem;
    --font-size-4:1rem;
    --font-size-5:1.25rem;
    --font-size-6:1.75rem;






}